{% extends "base.html" %}

{% block head %}
  {{ super() }}
  <meta name="description" content="{{ article.summary|striptags }}">
{% endblock %}

{% block title %}
  {{ article.title|striptags }} {{ super() }}
{% endblock %}

{% block page_header %}
  {{ article.title }}
{% endblock %}

{% block content %}

  
  <article class="article">
    <h1>  {{ article.title }}</h1>

    <header>
      <ul class="list-inline">
        <li class="list-inline-item" title="{{ article.date.isoformat() }}">
          <i class="far fa-calendar"></i>
          <span class="text-muted">{{ article.locale_date }}</span>
        </li>
        <li class="list-inline-item">
          <i class="fas fa-hashtag"></i>
          <a href="{{ SITEURL }}/{{ article.category.url }}">{{ article.category }}</a>
        </li>
        {% if not HIDE_AUTHORS and article.authors %}
          <li class="list-inline-item">
            <i class="fa fa-user-o"></i>
            {% for author in article.authors %}
              <a href="{{ SITEURL }}/{{ author.url }}">{{ author }}</a>{% if not loop.last %}, {% endif %}
            {% endfor %}
          </li>
        {% endif %}
        {% if article.tags %}
          <li class="list-inline-item">
            <i class="fa fa-files-o"></i>
            {% for tag in article.tags %}
              <a href="{{ SITEURL }}/{{ tag.url }}">#{{ tag }}</a>{% if not loop.last %}, {% endif %}
            {% endfor %}
          </li>
        {% endif %}
      </ul>
    </header>
    <div class="content">
      {{ article.content }}
    </div>
  </article>

    <div class="reading signup-blog">
    <div class="container text-center">
      <p class="big-text">Think this makes sense?</p>
      <p>Check out Boss as a Service. We help you get stuff done.</p>
       <a href="https://bossasaservice.life" class="btn btn-default btn-lg">Check it out</a>
      </div>
    </div>
  {% include 'include/comments.html' %}
{% endblock %}
